PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@hemicycle-db.bfgvfzu.mongodb.net/Hemicycle-DB?retryWrites=true&w=majority&appName=Hemicycle-DB
JWT_SECRET=
MAILTRAP_USERNAME=88de9e27b60cd6
MAILTRAP_PASSWORD=ae21721fd4be40