<p-button
  class="fixed bottom-5 left-5 z-50"
  styleClass="aspect-square"
  pTooltip="Préférences des cookies"
  tooltipStyleClass="text-sm"
  pTooltipPosition="left"
  severity="secondary"
  [rounded]="true"
  [raised]="true"
  (click)="openPreferenceDialog()"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cookie-icon lucide-cookie"><path d="M12 2a10 10 0 1 0 10 10 4 4 0 0 1-5-5 4 4 0 0 1-5-5"/>
    <path d="M8.5 8.5v.01"/><path d="M16 15.5v.01"/>
    <path d="M12 12v.01"/>
    <path d="M11 17v.01"/>
    <path d="M7 14v.01"/>
  </svg>
</p-button>
