<form class="flex flex-col gap-5 w-full h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="flex flex-col gap-5">
    <h1 class="font-bold text-primary-500 text-3xl">Confirmation OTP</h1>
    <p class="text-sm text-surface-500 dark:text-surface-400">
      Vous avez du recevoir un code OTP sur votre email. Veuillez le saisir ci-dessous
      pour confirmer votre connexion.
    </p>
  </section>

  <section class="flex flex-col gap-1">
    <div class="grid place-content-center my-5">
      <p-input-otp
        formControlName="code"
        inputId="code"
        size="large"
        [length]="6"
        [integerOnly]="true"
      />
    </div>
  </section>

  <section class="flex flex-row gap-3">
    <p-button
      class="w-full"
      type="submit"
      [fluid]="true"
      label="Confirmer"
      [disabled]="form.invalid"
    />
  </section>

  <p class="mt-auto text-center text-sm text-surface-500 dark:text-surface-400">
    Vous n'avez pas reçu de code ?
    <a [routerLink]="['/auth', 'login']" class="font-semibold text-primary-500 hover:underline focus:underline focus:outline-none">
      Envoyer un nouveau code
    </a>
  </p>
</form>
