<form class="flex flex-col gap-5 w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="flex flex-col gap-1">
      <h1 class="font-bold text-2xl">Réinitialisation du mot de passe</h1>
      <p class="text-sm text-surface-500 dark:text-surface-400">Entrez votre mot de passe pour le réinitialiser</p>
    </section>

    <section class="flex flex-col gap-1">
      <label for="password">Nouveau mot de passe</label>
      <p-password weakLabel="Faible" strongLabel="Fort" mediumLabel="Moyen" formControlName="password" autocomplete="new-password" placeholder="Votre mot de passe" inputId="password" [fluid]="true" [toggleMask]="true">
        <ng-template #header>
          <div class="font-semibold text-xm mb-4">Créez un mot de passe sécurisé</div>
        </ng-template>

        <ng-template #footer>
          <p-divider />
          <ul class="pl-2 ml-2 my-0 leading-normal">
            <li>Contient au moins une minuscule</li>
            <li>Contient au moins une majuscule</li>
            <li>Contient au moins un chiffre</li>
            <li>Contient au moins 8 caractères</li>
          </ul>
        </ng-template>
      </p-password>
    </section>

    <section class="flex flex-col gap-1">
      <label for="passwordConfirmation">Confirmez le nouveau mot de passe</label>
      <p-password formControlName="passwordConfirmation" autocomplete="new-password" placeholder="Confirmez votre mot de passe" inputId="passwordConfirmation" [feedback]="false" [toggleMask]="true" [fluid]="true" />
    </section>

    <section class="flex flex-row gap-3">
      <p-button class="w-full" type="submit" [fluid]="true" label="S'inscrire" [disabled]="form.invalid" />
    </section>
  </form>
