<div class="container mx-auto pb-5 md:px-0">

  <!-- Contenu principal -->
  <div class="flex flex-col gap-5 p-5 bg-surface-0 rounded-none">
    <section class="flex flex-row gap-4 justify-between">
      <div class="flex flex-row items-center gap-1 w-full">
        <h2 class="font-semibold text-md text-lg text-center w-full">
          Pour mieux comprendre le paysage politique actuel, voici un aperçu des différents partis représentés à l’Assemblée
          nationale.
        </h2>
      </div>
      <!--Partis Politiques-->
      <div class="flex flex-wrap gap-5">
        <div></div>
      </div>
    </section>
  </div>
</div>