@if (user(); as user) {
  <div class="container mx-auto md:p-0 p-5 flex flex-col md:flex-row flex-wrap gap-5">
    <section class="flex-[0.5] flex flex-col border border-surface-200 rounded-md">
      <img class="h-[150px] object-cover w-full rounded-md"src="images/colonnade.jpg" alt="Colonnade" />

      <div class="ml-4 p-2 bg-surface-0 -mt-13 w-fit rounded-md">
        <p-avatar label="P" size="xlarge" />
      </div>

      <div class="flex flex-col px-4 pb-4">
        <div class="flex-1 mt-2 flex flex-col">
          <span class="font-bold text-xl">{{ user.firstname }} {{ user.lastname }}</span>
          <span class="text-sm text-surface-500">{{ user.role.description }}</span>
        </div>

        <p-divider styleClass="my-8"/>

        <div class="flex flex-col gap-1">
          <span class="font-semibold">A propos</span>
          <p class="text-sm text-surface-500">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic repellat soluta molestias unde,
            officiis fuga magni tempore nisi placeat reiciendis officia labore exercitationem mollitia
            fugiat, totam dolores quod laudantium voluptates!
          </p>
        </div>
      </div>
    </section>

    <section class="flex-1 p-6 justify-between flex flex-col border border-surface-200 rounded-md">
      <div class="flex flex-col gap-4">
        <div class="decor flex flex-row gap-5">
          <span class="font-bold">Prénom : </span>
          <span>{{ user.firstname }}</span>
        </div>

        <div class="decor flex flex-row gap-5">
          <span class="font-bold">Nom : </span>
          <span>{{ user.lastname }}</span>
        </div>

        <div class="decor flex flex-row gap-5">
          <span class="font-bold">Date de naissance : </span>
          <span>{{ user.birthday | date: 'd MMMM y':'':'fr' }}</span>
        </div>

        <div class="decor flex flex-row gap-5">
          <span class="font-bold">Adresse : </span>
          <span>126, rue de l'Université, 75355 Paris, France</span>
        </div>
      </div>

      <div class="flex flex-row flex-wrap gap-2 mt-5">
        <p-button
          label="Modifier mes informations"
          severity="secondary"
          [outlined]="true"
          icon="pi pi-user"
          size="small"
          (onClick)="openUpdateDialog()"
        />

        <p-button
          label="Export mes données"
          severity="secondary"
          [outlined]="true"
          icon="pi pi-download"
          size="small"
        />

        <p-button
          label="Supprimer mon compte"
          severity="danger"
          [outlined]="false"
          icon="pi pi-lock"
          size="small"
          (onClick)="openConfirmDeleteDialog($event)"
        />
      </div>
    </section>
  </div>
}

<div class="px-3 md:px-0 md:w-[80%] m-auto mb-30">
  <!--INFORMATIONS-->
  <div class="mt-10">

    <div>
      <h3 class="font-bold mb-3 mt-10">Pour en savoir plus sur la manière dont nous gérons vos données :</h3>
      <ul>
        <li>
          <a href="/legal/cgu">
            <div class="relative group w-fit mt-3 cursor-pointer">
              <div
                class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                  <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                  Conditions générales d'utilisation
                </p-message>
              </div>
              <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500">
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/legal/politique">
            <div class="relative group w-fit mt-3 cursor-pointer">
              <div
                class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                  <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                  Politique de confidentialité
                </p-message>
              </div>
              <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500">
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/legal/mentions">
            <div class="relative group w-fit mt-3 cursor-pointer">
              <div
                class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                  <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                  Mentions légales
                </p-message>
              </div>
              <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500">
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
