<div class="px-3 md:px-0 md:w-[80%] m-auto mb-30">
    <div class="text-center md:mt-10">
        <h1
            class="bg-gradient-to-r from-tertiary-700 to-primary-500 bg-clip-text text-transparent text-3xl md:text-[3rem] xl:text-[4em] font-medium leading-[1.4]">
            Bienvenue {{user()?.firstname }} !</h1>
    </div>
    <!--INFORMATIONS-->
    <div class="mt-10">
        <div class="p-[2px] rounded-md bg-gradient-to-r from-tertiary-700 to-primary-500 m-auto">
            <div class="bg-white rounded-md p-3 md:p-5 xl:p-10">
                <h3 class="font-bold mb-3">Récapitulatif de vos informations :</h3>

                <div class="flex flex-wrap gap-x-8 gap-y-2">
                    <p class="decor"><span class="font-medium mb-2.5">Nom : </span>{{ user()?.lastname }}</p>
                    <p class="decor"><span class="font-medium mb-2.5">Prénom : </span>{{ user()?.firstname }}</p>
                    <p class="decor">
                        <span class="font-medium">Date de naissance : </span>
                        {{ user()?.birthday | date: 'd MMMM y':'':'fr' }}</p>
                    <p class="decor"><span class="font-medium mb-10">Votre rôle : </span>{{ user()?.role?.name }}</p>
                </div>

                <!-- BOUTONS -->
                <div class="flex flex-wrap gap-5 mt-5">
                    <!-- bouton 1 -->
                    <div class="p-[2px] rounded-md bg-gradient-to-r from-tertiary-700 to-primary-500 cursor-pointer">
                        <div
                            class="bg-white rounded-md transition group hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                            <p-message severity="contrast" variant="outlined" class="
                              [&_.p-message-contrast.p-message-outlined]:outline-transparent
                              [&_.p-message]:bg-transparent
                              [&_.p-message-wrapper]:bg-transparent
                              [&_.p-message]:text-black
                              group-hover:[&_.p-message]:text-white
                              group-hover:[&_.p-message-icon]:text-white
                            ">
                                Exporter mes données
                            </p-message>
                        </div>
                    </div>

                    <!-- bouton 2 -->
                    <div class="relative group">
                        <div
                            class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500 cursor-pointer">
                            <p-message severity="contrast" variant="outlined" class="
                              [&_.p-message-contrast.p-message-outlined]:outline-transparent
                              [&_.p-message]:bg-transparent
                              [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                              [&_.p-message]:text-black
                              group-hover:[&_.p-message]:text-white
                              group-hover:[&_.p-message-icon]:text-white
                            ">
                                Modifier mon mot de passe
                            </p-message>
                        </div>
                        <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500">
                        </div>
                    </div>
                    <div class="flex items-center">
                        <p-checkbox [(ngModel)]="is2FAEnabled" binary="true" inputId="twoFactorAuth"
                            label="Activer l'authentification à double facteur"/>
                        <label for="ingredient1" class="ml-2"> Activer l'authentification à double facteur </label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3 class="font-bold mb-3 mt-10">Pour en savoir plus sur la manière dont nous gérons vos données :</h3>
            <ul>
                <li>
                    <a href="/legal/cgu">
                        <div class="relative group w-fit mt-3 cursor-pointer">
                                <div
                                    class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                                    <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                                        <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                                        Conditions générales d'utilisation
                                    </p-message>
                                </div>
                            <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/legal/politique">
                        <div class="relative group w-fit mt-3 cursor-pointer">
                                <div
                                    class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                                    <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                                        <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                                        Politique de confidentialité
                                    </p-message>
                                </div>
                            <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/legal/mentions">
                        <div class="relative group w-fit mt-3 cursor-pointer">
                                <div
                                    class="bg-white rounded-md transition hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500">
                                    <p-message severity="contrast" variant="outlined" class="
                                                [&_.p-message-contrast.p-message-outlined]:outline-transparent
                                                [&_.p-message]:bg-transparent
                                                [&_.p-message-wrapper]:bg-transparent [&_.p-message-contrast]:shadow-none
                                                [&_.p-message]:text-black
                                                group-hover:[&_.p-message]:text-white
                                                group-hover:[&_.p-message-icon]:text-white
                                            ">
                                        <i class="pi pi-chevron-right text-black mr-2 group-hover:text-white"></i>
                                        Mentions légales
                                    </p-message>
                                </div>
                            <div class="absolute bottom-0 left-0 w-full h-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
