<form class="flex flex-col gap-5 w-full h-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="flex flex-col gap-5">
    <img src="/images/logo.jpg" alt="Logo" class="rounded-lg w-15 h-15">
    <h1 class="font-bold text-primary-500 text-3xl">Inscription</h1>
    <p class="text-sm text-surface-500 dark:text-surface-400">Créez votre compte pour commencer</p>
  </section>

  <p-stepper [value]="1">
    <p-step-list>
      <p-step [value]="1">Informations</p-step>
      <p-step [disabled]="credentialsForm.invalid" [value]="2">Identifiants</p-step>
    </p-step-list>

    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col gap-5" [formGroup]="infosForm">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <section class="flex flex-col gap-1">
                <app-form-input-label
                  label="Prénom"
                  [required]="true"
                  labelFor="firstname"
                />

                <input
                  id="firstname"
                  formControlName="firstname"
                  placeholder="Votre prénom"
                  type="text"
                  autocomplete="given-name"
                  pInputText
                  [fluid]="true"
                />

                <app-form-errors [control]="infosForm.get('firstname')!" help="Veuillez renseigner votre prénom">
                  <app-form-errors-item validator="required">
                    <p>Veuillez saisir votre prénom.</p>
                  </app-form-errors-item>

                  <app-form-errors-item validator="minlength">
                    <p>Veuillez saisir un prénom de minimum 2 caractères.</p>
                  </app-form-errors-item>

                  <app-form-errors-item validator="maxlength">
                    <p>Veuillez saisir un prénom de maximum 50 caractères.</p>
                  </app-form-errors-item>
                </app-form-errors>
              </section>

              <section class="flex flex-col gap-1">
                <app-form-input-label
                  label="Nom"
                  [required]="true"
                  labelFor="lastname"
                />

                <input
                  id="lastname"
                  formControlName="lastname"
                  placeholder="Votre nom"
                  type="text"
                  autocomplete="family-name"
                  pInputText
                  [fluid]="true"
                />

                <app-form-errors [control]="infosForm.get('lastname')!" help="Veuillez renseigner votre nom">
                  <app-form-errors-item validator="required">
                    <p>Veuillez saisir votre nom.</p>
                  </app-form-errors-item>

                  <app-form-errors-item validator="minlength">
                    <p>Veuillez saisir un nom de minimum 2 caractères.</p>
                  </app-form-errors-item>

                  <app-form-errors-item validator="maxlength">
                    <p>Veuillez saisir un nom de maximum 50 caractères.</p>
                  </app-form-errors-item>
                </app-form-errors>
              </section>
            </div>

            <section class="flex flex-col gap-1">
              <app-form-input-label
                label="Genre"
                [required]="true"
                labelFor="gender"
              />

              <p-select
                formControlName="gender"
                [options]="genderOptions()"
                optionLabel="label"
                optionValue="value"
                [fluid]="true"
              />

              <app-form-errors [control]="infosForm.get('gender')!" help="Veuillez sélectionner votre genre">
                <app-form-errors-item validator="required">
                  <p>Veuillez sélectionner votre genre.</p>
                </app-form-errors-item>
              </app-form-errors>
            </section>

            <section class="flex flex-col gap-1">
              <app-form-input-label
                label="Date de naissance"
                [required]="true"
                labelFor="birthday"
              />

              <p-date-picker
                inputId="birthday"
                formControlName="birthday"
                placeholder="Votre date de naissance"
                [fluid]="true"
              />

              <app-form-errors [control]="infosForm.get('birthday')!" help="Veuillez sélectionner votre date de naissance">
                <app-form-errors-item validator="required">
                  <p>Veuillez sélectionner votre date de naissance.</p>
                </app-form-errors-item>
              </app-form-errors>
            </section>

            <section class="flex flex-row gap-3">
              <p-button
                class="w-full"
                type="button"
                [fluid]="true"
                severity="primary"
                iconPos="right"
                icon="pi pi-arrow-right text-xs"
                label="Suivant"
                [disabled]="infosForm.invalid"
                (onClick)="activateCallback(2)"
              />
            </section>
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col gap-5" [formGroup]="credentialsForm">
            <section class="flex flex-col gap-1">
              <app-form-input-label
                label="Adresse e-mail"
                [required]="true"
                labelFor="email"
              />

              <input
                id="email"
                formControlName="email"
                placeholder="exemple@domain.com"
                type="email"
                autocomplete="email"
                pInputText
                [fluid]="true"
              />

              <app-form-errors [control]="credentialsForm.get('email')!">
                <app-form-errors-item validator="required">
                  <p>Veuillez saisir votre adresse e-mail.</p>
                </app-form-errors-item>

                <app-form-errors-item validator="email">
                  <p>Veuillez saisir une adresse e-mail valide.</p>
                </app-form-errors-item>
              </app-form-errors>
            </section>

            <section class="flex flex-col gap-1">
              <app-form-input-label
                label="Mot de passe"
                [required]="true"
                labelFor="password"
              />

              <p-password weakLabel="Faible" strongLabel="Fort" mediumLabel="Moyen" formControlName="password" autocomplete="new-password" placeholder="Votre mot de passe" inputId="password" [fluid]="true" [toggleMask]="true">
                <ng-template #header>
                  <div class="font-semibold text-xm mb-4">Créez un mot de passe sécurisé</div>
                </ng-template>

                <ng-template #footer>
                  <p-divider />
                  <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>Contient au moins une minuscule</li>
                    <li>Contient au moins une majuscule</li>
                    <li>Contient au moins un chiffre</li>
                    <li>Contient au moins 8 caractères</li>
                  </ul>
                </ng-template>
              </p-password>

              <app-form-errors [control]="credentialsForm.get('password')!" help="Veuillez renseigner votre mot de passe">
                <app-form-errors-item validator="required">
                  <p>Veuillez saisir votre mot de passe.</p>
                </app-form-errors-item>

                <app-form-errors-item validator="pattern">
                  <p>Votre mot de passe doit contenir au moins :</p>
                  <ul class="pl-2 ml-2 my-0 leading-normal">
                    <li>Une minuscule</li>
                    <li>Une majuscule</li>
                    <li>Un chiffre</li>
                    <li>8 caractères</li>
                  </ul>
                </app-form-errors-item>
              </app-form-errors>
            </section>

            <section class="flex flex-col gap-1">
              <app-form-input-label
                label="Confirmez le mot de passe"
                [required]="true"
                labelFor="passwordConfirmation"
              />

              <p-password formControlName="passwordConfirmation" autocomplete="new-password" placeholder="Confirmez votre mot de passe" inputId="passwordConfirmation" [feedback]="false" [toggleMask]="true" [fluid]="true" />

              <app-form-errors [control]="credentialsForm.get('passwordConfirmation')!" help="Veuillez renseigner votre mot de passe">
                <app-form-errors-item validator="required">
                  <p>Veuillez saisir votre mot de passe.</p>
                </app-form-errors-item>
              </app-form-errors>
            </section>

            <section class="flex flex-row gap-3 items-center">
              <p-checkbox formControlName="terms" [binary]="true" inputId="terms" />
              <label for="terms" class="text-sm">J'accepte les <a [routerLink]="['/terms']" class="text-primary-600 hover:underline focus:underline focus:outline-none">conditions d'utilisation</a> et la <a [routerLink]="['/privacy']" class="text-primary-600 hover:underline focus:underline focus:outline-none">politique de confidentialité</a></label>
            </section>

            <section class="flex flex-row gap-3 flex-wrap">
              <p-button
                class="flex-1"
                type="button"
                [fluid]="true"
                icon="pi pi-arrow-left text-xs"
                [outlined]="true"
                label="Précédent"
                severity="secondary"
                (onClick)="activateCallback(1)"
              />

              <p-button
                class="flex-1"
                type="submit"
                [fluid]="true"
                label="S'inscrire"
                [loading]="loading()"
                [disabled]="form.invalid && !loading()"
              />
            </section>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>

  <p class="mt-auto text-center text-sm text-surface-500 dark:text-surface-400">
    Vous avez déjà un compte ?
    <a [routerLink]="['/auth', 'login']" class="font-semibold text-primary-500 hover:underline focus:underline focus:outline-none">Connectez-vous</a>
  </p>
</form>
