<div class="container mx-auto p-5 md:p-0 md:grid md:grid-cols-3 flex flex-col gap-4">
  <section class="flex flex-col h-full">
    <div class="flex flex-col flex-grow p-2 rounded-lg bg-gradient-to-r from-tertiary-700 to-primary-500">
      <div class="flex flex-col flex-grow items-center gap-2 bg-white text-black rounded-lg p-6">
        <span class="block">
          Découvrez en un clic tous les projets de loi en cours à l’Assemblée nationale.
          Explorez facilement les textes qui façonnent notre société, suivez leur évolution
          et restez informé des débats législatifs. Que vous soyez citoyen curieux,
          professionnel du droit ou passionné de politique, cette page vous offre une vision claire
          et accessible de l’actualité législative. Plongez dans le cœur de la démocratie
          et comprenez les enjeux qui nous concernent tous !
        </span>
        <div class="flex mt-4">
          <a href="/legislation/laws"
            class="rounded-lg p-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500 hover:from-primary-500 hover:to-tertiary-700">
            <div
              class="flex items-center gap-2 py-2 px-4 rounded-lg bg-white hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500 hover:text-white text-black">
              <span class="block font-medium">Liste des lois</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col h-full">
    <div class="flex flex-col flex-grow p-2 rounded-lg bg-gradient-to-r from-tertiary-700 to-primary-500">
      <div class="flex flex-col flex-grow items-center gap-2 bg-white text-black rounded-lg p-6">
        <span class="block">
          Explorez les partis politiques qui animent les débats à l’Assemblée nationale.
          Découvrez leurs programmes, leurs membres clés et leurs positions sur les enjeux majeurs
          du pays. Que vous soyez passionné de politique ou simplement curieux,
          cette page vous offre un accès clair et complet à la diversité politique
          qui façonne notre démocratie. Plongez au cœur de l’action et comprenez mieux les forces en présence
          !
        </span>
        <div class="flex mt-auto">
          <a href="/political/party"
            class="rounded-lg p-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500 hover:from-primary-500 hover:to-tertiary-700">
            <div
              class="flex items-center gap-2 py-2 px-4 rounded-lg bg-white hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500 hover:text-white text-black">
              <span class="block font-medium">Voir les partis politiques</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col h-full">
    <div class="flex flex-col flex-grow p-2 rounded-lg bg-gradient-to-r from-tertiary-700 to-primary-500">
      <div class="flex flex-col flex-grow items-center gap-2 bg-white text-black rounded-lg p-6">
        <span class="block">
          Accédez à votre espace personnel pour consulter et gérer vos informations en toute simplicité.
          Modifiez vos données, suivez votre activité et personnalisez votre expérience selon vos besoins.
          Votre profil est votre centre de contrôle pour rester connecté et à jour dans l’application.
          Venez découvrir toutes les fonctionnalités qui facilitent votre navigation !
        </span>
        <div class="flex mt-auto">
          <a href="/account/profil"
            class="rounded-lg p-[2px] bg-gradient-to-r from-tertiary-700 to-primary-500 hover:from-primary-500 hover:to-tertiary-700">
            <div
              class="flex items-center gap-2 py-2 px-4 rounded-lg bg-white hover:bg-gradient-to-r hover:from-tertiary-700 hover:to-primary-500 hover:text-white text-black">
              <span class="block font-medium">Mon profil</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
