@import 'tailwindcss';
@import "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";

:root {
  --p-primary-0: #FFF0F5;
  --p-primary-50: #FFE5EE;
  --p-primary-100: #FFCCDD;
  --p-primary-200: #FF99BB;
  --p-primary-300: #FF6699;
  --p-primary-400: #FF3377;
  --p-primary-500: #D4145A;
  --p-primary-600: #B30F4D;
  --p-primary-700: #920B40;
  --p-primary-800: #710833;
  --p-primary-900: #510426;
  --p-primary-950: #300217;

  /* --p-surface-50: var(--color-gray-50);
  --p-surface-100: var(--color-gray-100);
  --p-surface-200: var(--color-gray-200);
  --p-surface-300: var(--color-gray-300);
  --p-surface-400: var(--color-gray-400);
  --p-surface-500: var(--color-gray-500);
  --p-surface-600: var(--color-gray-600);
  --p-surface-700: var(--color-gray-700);
  --p-surface-800: var(--color-gray-800);
  --p-surface-900: var(--color-gray-900);
  --p-surface-950: var(--color-gray-950); */
}

@theme {
  --color-tertiary-50: #f9e6f8;
  --color-tertiary-100: #f2c0ef;
  --color-tertiary-200: #e996e5;
  --color-tertiary-300: #e06bdb;
  --color-tertiary-400: #d847d3;
  --color-tertiary-500: #d026c9;
  --color-tertiary-600: #b31fa9;
  --color-tertiary-700: #93278F;
  --color-tertiary-800: #6d1c6a;
  --color-tertiary-900: #4a1248;
  --color-tertiary-950: #2a0a28;
}

router-outlet {
  display: none;
}
