<form class="flex flex-col gap-5 w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="flex flex-col gap-5">
    <h1 class="font-bold text-primary-500 text-3xl">Mot de passe oublié</h1>
    <p class="text-sm text-surface-500 dark:text-surface-400">Entrez votre adresse email pour réinitialiser votre mot de passe</p>
  </section>

  <section class="flex flex-col gap-1">
    <label for="email">Email</label>
    <input
      id="email"
      formControlName="email"
      placeholder="exemple@domain.com"
      type="email"
      autocomplete="email"
      pInputText
      [fluid]="true"
    />
  </section>

  <section class="flex flex-col gap-3">
    <p-button
      class="w-full"
      type="submit"
      [fluid]="true"
      label="Réinitialiser le mot de passe"
      [disabled]="form.invalid"
      [loading]="false"
    />
  </section>


  <p class="text-center text-sm text-surface-500 dark:text-surface-400">
    <a [routerLink]="['/auth', 'login']" class="text-primary-500 hover:underline flex items-center justify-center gap-1">
      <i class="pi pi-arrow-left text-xs"></i>
      Retour à la connexion
    </a>
  </p>
</form>
