.title{
    position:relative;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.title::before{
    content:'';
    background: linear-gradient(to bottom, #93278F, #D4145A);
    height:2.2rem;
    width:0.3rem;
    position:absolute;
    top:0;
    left:0
}